body{background: #ededed;}
header{position: fixed;width: 100%;height: 99px;background: url(../img/pixel.png);color: #fff;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;z-index: 2}
header.sticky {height: 54px;text-align: left;}
header.sticky a#logo img{height: 40px;}
#menu {list-style: none;float: right;margin-top: 43px;}
#menu li{float: left; margin-right: 15px}
#menu li a{color: #fff;font-size: 13px;}
#logo{float: left;margin-top: -0;}
header.sticky #menu{margin-top: 13px;}
header.sticky #menu li a{color: #000}
a{text-decoration: none}
#triggermenu{font-size: 25px;color: #999;display: none;margin-top: 8px;color: #ccc;position: absolute;right: 20px}
.facebook{color:#3b5998 !important}
.twitter{color:#4099ff !important}
ul{list-style: none !important}
#listaservicios{margin-top: 40px}
#listaservicios img,h3,p{float: left;}
#listaservicios img{height: 30px; margin-top: 10px; margin-right: 10px}
#listaservicios p{width: 100%; margin-bottom: 5px}
#listaservicios h3{margin-bottom: 5px}
.parallax{min-height: 400px;background: transparent;}
.tac{text-align: center; width: 100%}
h2{margin-top: 20px}
.centrar{margin: 0 auto; display: block;}
.backgris{background: #242731; color: #fff}
.mt20{margin-top: 20px}
#menumovil{position: fixed; top: 54px; background: #242731;width: 100%; left: 0}
#menumovil li{text-align: center;}
#menumovil li a{color: #fff;}
#menumovil{display: none}
#menufooter{position: fixed; bottom: 0; background: #242731; height: 70px; width: 100%; padding: 10px 0; z-index: 3; opacity: 0.7}
#menufooter ul li{float: left; width: 14%}
#menufooter ul li a:hover{opacity: 0.7}
#menufooter ul li a{display: block; width: 100%; color: #fff;font-size: 12px;line-height: normal;}
#menufooter ul li a img{display: block; margin: 0 auto; width: 50px}
.titulo{    position: absolute;top: 40%;color: #fff;right: 20%;}
.f24{font-size: 24px;}
.srvc{float: left;width: 100%;list-style: outside !important;}
.w100{width: 100%}
.pt40{padding: 40px 0}
.siete{width: 14%; float: left;}
.metodo{margin-top: 10px}
#overlay{width: 100%;height: 100%;position: fixed;top: 0;left: 0;background: #fff;z-index: 10;opacity: 0.9;display: none}
.mensaje{width: 300px;height: 250px;position: absolute;top: 50%;left: 50%;margin-top: -150px;margin-left: -125px; display: none}
.mensajecargando{width: 300px;height: 250px;position: absolute;top: 50%;left: 50%;margin-top: -150px;margin-left: -125px; display: block;}
#cerrarmodal{margin: 0 auto;display: block;}
.mensajecargando img {display: block;margin: 0 auto;}
.error{color: red}
@media (min-width: 300px) {
	.txtform{width: 100%; margin-right: 0}
	#menu{display: none}
	#triggermenu{display: block}
	header{height: 54px; background: #242731; width: 100%}
	header a#logo img {height: 40px;}
	.parallax {min-height: 200px; background-attachment: scroll;}
	#menufooter{height: 40px}
	#menufooter ul li a p{display: none}
	body{padding-bottom: 60px}
	.siete{width: 100%; float: left;}
}
/* Larger than mobile */
@media (min-width: 400px) {
	.txtform{width: 100%; margin-right: 0}
	#menu{display: none}
	#triggermenu{display: block}
	header{height: 54px; background: #242731; width: 100%}
	header a#logo img {height: 40px;}
	.parallax {min-height: 200px; background-attachment: fixed}
	#menufooter{height: 40px}
	#menufooter ul li a p{display: none}
	body{padding-bottom: 60px}
	.siete{width: 100%; float: left;}
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
	.metodo{font-size: 10px}
	#menu{display: none}
	#triggermenu{display: block}
	header{height: 54px; background: #242731}
	header a#logo img {height: 40px;}
	.parallax {min-height: 200px; background-attachment: fixed}
	#menufooter{height: 40px}
	#menufooter ul li a p{display: none}
	body{padding-bottom: 60px}
	.siete{width: 100%; float: left;}
}

/* Larger than tablet */
@media (min-width: 750px) {
	.metodo{font-size: 12px}
	#menu{display: block}
	#triggermenu{display: none}
	header{height: 99px;background: url(../img/pixel.png);}
	header a#logo img {height: auto;}
	.parallax {min-height: 300px; background-attachment: fixed}
	#menufooter{height: 40px}
	#menufooter ul li a p{display: none}
	body{padding-bottom: 60px}
	.siete{width: 100%; float: left;}
}

/* Larger than desktop */
@media (min-width: 1000px) {
	#menu{display: block}
	#triggermenu{display: none}
	header{height: 99px;background: url(../img/pixel.png);}
	header a#logo img {height: auto;}
	.parallax {min-height: 500px; background-attachment: fixed}
	#menufooter{height: 70px}
	#menufooter ul li a p{display: block;}
	body{padding-bottom: 90px}
	.siete{width: 14%; float: left;}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
	#menu{display: block}
	#triggermenu{display: none}
	header{height: 99px;background: url(../img/pixel.png);}
	header a#logo img {height: auto;}
	.parallax {min-height: 500px; background-attachment: fixed}
	#menufooter{height: 70px}
	#menufooter ul li a p{display: block;}
	body{padding-bottom: 90px}
	.siete{width: 14%; float: left;}
}