@font-face {
    font-family: HelveticaBold;
    src: url('fonts/font_family/eot/Helvetica Bold.eot'),
    	 url('fonts/font_family/otf/Helvetica Bold.otf'),
    	 url('fonts/font_family/ttf/Helvetica Bold.ttf'),
    	 url('fonts/font_family/woff/Helvetica Bold.woff');
    font-weight: bold;
}
@font-face {
    font-family: HelveticaLight;
    src: url('fonts/font_family/eot/HelveticaLTStd-Light.eot'),
    	 url('fonts/font_family/otf/HelveticaLTStd-Light.otf'),
    	 url('fonts/font_family/ttf/HelveticaLTStd-Light.ttf'),
    	 url('fonts/font_family/woff/HelveticaLTStd-Light.woff');
    font-weight: lighter;
}
@font-face {
    font-family: HelveticaCondensed;
    src: url('fonts/font_family/eot/HelveticaLTStd-Cond.eot'),
    	 url('fonts/font_family/otf/HelveticaLTStd-Cond.otf'),
    	 url('fonts/font_family/ttf/HelveticaLTStd-Cond.ttf'),
    	 url('fonts/font_family/woff/HelveticaLTStd-Cond.woff');
    font-weight: lighter;
}
@font-face {
    font-family: HelveticaLightCondensed;
    src: url('fonts/font_family/eot/HelveticaLTStd-LightCond.eot'),
    	 url('fonts/font_family/otf/HelveticaLTStd-LightCond.otf'),
    	 url('fonts/font_family/ttf/HelveticaLTStd-LightCond.ttf'),
    	 url('fonts/font_family/woff/HelveticaLTStd-LightCond.woff');
    font-weight: lighter;
}
body{background: #ededed}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
header{position: fixed;width: 100%;height: 108px;background: url(../img/pixel.png);color: #fff;-webkit-transition: all 0.4s ease;transition: all 0.4s ease;z-index: 2}
header.sticky {height: 54px;text-align: left;padding-left: 20px;}
header.sticky a#logo img{height: 40px;}
#menu {list-style: none;float: right;margin-top: 43px;}
#menu li{float: left; margin-right: 15px}
#menu li a{color: #fff;font-family: HelveticaLight;}
#logo{float: left;margin-top: -0;}
header.sticky #menu{margin-top: 13px;}
header.sticky #menu li a{color: #000}
.facebook{color:#3b5998 !important}
.twitter{color:#4099ff !important}
.content{padding:40px 0;}
.posabs{position: absolute;}
#listaservicios{list-style: none}
.parallax {
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#p1{ background-image: url("../img/p1.jpg");}
#p2{ background-image: url("../img/p2.jpg");}
#p3{ background-image: url("../img/p3.jpg");}
.centrar{display: block;margin: 0 auto;}
.w100{width: 100%}
.tac{text-align: center}
.mb20{margin-bottom: 20px}
.metodo {
       float: left;
    width: 162px;
}
.metodo img{display: block;margin: 0 auto}
.txtmetodo{
	    font-size: 14px;
    margin-top: 8px;
    text-align: center;
}


